header {
  height: 100px;
  width: 100%;
  background-color: #000;
}
h1 {
  text-align: center;
  color: #fff;
}
#sample {
  position: relative;
}
#myDiagramDiv {
  width: 100%;
  height: 500px;
  background-color: #f4f4f4;
}
.description-section {
	position: absolute;
	top: 0;
	padding: 50px;
	width: 500px;
}
h2 {
	margin: 0;
	padding-bottom: 10px;
}
footer {
  height: 100px;
  width: 100%;
  background-color: #000;
}
